[Desktop Entry]
GenericName=MX Clocky Desktop Clock
Name=MX Clocky Desktop Clock
Name[am]=MX Clocky Desktop Clock
Name[ar]=MX Clocky Desktop Clock
Name[bg]=MX Clocky Desktop Clock
Name[ca]=MX Clocky Rellotge d'escriptori
Name[cs]=MX Clocky Desktop Clock
Name[da]=MX Clocky-skrivebordsur
Name[de]=MX Clocky Desktop Uhr
Name[el]=MX Clocky Desktop Clock
Name[es]=MX Clocky Reloj de escritorio
Name[et]=MX Clocky Desktop Clock
Name[eu]=MX Clocky Desktop Clock
Name[fa]=MX Clocky Desktop Clock
Name[fi]=MX Clocky Desktop Clock
Name[fr]=MX Clocky Horloge de Bureau
Name[he_IL]=MX Clocky Desktop Clock
Name[hi]=MX Clocky Desktop Clock
Name[hr]=MX Clocky Desktop Clock
Name[hu]=MX Clocky Desktop Clock
Name[id]=MX Clocky Desktop Clock
Name[is]=MX Clocky Desktop Clock
Name[it]=MX Clocky Orologio del Desktop
Name[ja_JP]=MX Clocky Desktop Clock
Name[ja]=MX Clocky Desktop Clock
Name[kk]=MX Clocky Desktop Clock
Name[ko]=MX Clocky Desktop Clock
Name[lt]=MX Clocky Desktop Clock
Name[mk]=MX Clocky Desktop Clock
Name[mr]=MX Clocky Desktop Clock
Name[nb]=MX Clocky Desktop Clock
Name[nl]=MX Clocky Bureauklok
Name[pl]=MX Clocky zegar na pulpicie
Name[pt_BR]=MX Relógio do Desktop
Name[pt]=MX-Relógio
Name[ro]=MX Clocky Desktop Clock
Name[ru]=MX Clocky Desktop Clock
Name[sk]=MX Clocky Desktop Clock
Name[sl]=MX Clocky namizna ura
Name[sq]=MX Clocky Desktop Clock
Name[sr]=MX Clocky Desktop Clock
Name[sv]=MX Clocky Skrivbordsklocka
Name[tr]=MX Clocky Desktop Clock
Name[uk]=MX Clocky Desktop Clock
Name[zh_CN]=MX Clocky Desktop Clock
Name[zh_TW]=MX Clocky Desktop Clock
Comment=Attractive Skinnable Desktop Clock
Comment[am]=Attractive Skinnable Desktop Clock
Comment[ar]=Attractive Skinnable Desktop Clock
Comment[bg]=Attractive Skinnable Desktop Clock
Comment[ca]=Rellotge d'escriptori molt configurable
Comment[cs]=Attractive Skinnable Desktop Clock
Comment[da]=Pænt skinbart skrivebordsur
Comment[de]=Attraktive gestaltbare Desktop Uhr
Comment[el]=Ελκυστικό ρολόι επιφάνειας εργασίας
Comment[es]=Reloj Atractivo y Personablizable del Escritorio
Comment[et]=Attractive Skinnable Desktop Clock
Comment[eu]=Attractive Skinnable Desktop Clock
Comment[fa]=Attractive Skinnable Desktop Clock
Comment[fi]=Attractive Skinnable Desktop Clock
Comment[fr]= Une belle Horloge de Bureau personnalisable
Comment[he_IL]=Attractive Skinnable Desktop Clock
Comment[hi]=Attractive Skinnable Desktop Clock
Comment[hr]=Attractive Skinnable Desktop Clock
Comment[hu]=Attractive Skinnable Desktop Clock
Comment[id]=Attractive Skinnable Desktop Clock
Comment[is]=Attractive Skinnable Desktop Clock
Comment[it]=Orologio del desktop personalizzabile
Comment[ja_JP]=Attractive Skinnable Desktop Clock
Comment[ja]=Attractive Skinnable Desktop Clock
Comment[kk]=Attractive Skinnable Desktop Clock
Comment[ko]=Attractive Skinnable Desktop Clock
Comment[lt]=Attractive Skinnable Desktop Clock
Comment[mk]=Attractive Skinnable Desktop Clock
Comment[mr]=Attractive Skinnable Desktop Clock
Comment[nb]=Attractive Skinnable Desktop Clock
Comment[nl]=Aantrekkelijke Aankleedbare Bureauklok
Comment[pl]=Atrakcyjny zegar pulpitu z różnymi motywami
Comment[pt_BR]=Relógio para a área de trabalho personalízavel [mx-clocky]
Comment[pt]=Relógio personalzável para a Área de Trabalho [mx-clocky]
Comment[ro]=Attractive Skinnable Desktop Clock
Comment[ru]=Attractive Skinnable Desktop Clock
Comment[sk]=Attractive Skinnable Desktop Clock
Comment[sl]=Atraktivna namizna ura s priagodljivim videzom
Comment[sq]=Attractive Skinnable Desktop Clock
Comment[sr]=Attractive Skinnable Desktop Clock
Comment[sv]=Attraktiv Skrivbordsklocka med utbytbart utseende
Comment[tr]=Attractive Skinnable Desktop Clock
Comment[uk]=Attractive Skinnable Desktop Clock
Comment[zh_CN]=Attractive Skinnable Desktop Clock
Comment[zh_TW]=Attractive Skinnable Desktop Clock
Exec=MX-Clocky
Terminal=false
Icon=mx-clocky
Type=Application
Categories=GTK;Application;Utility;
X-GNOME-Autostart-Delay=7
X-KDE-Autostart-Delay=7
